.sc-ion-label-ios-s>p {
  color:black;
}

.ownMessage {
    background: #c8acac;
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 2px 0 0 gray;
    float: right;
}

.userMessage {
  border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 2px 0 0 gray;
}

.userMessageContainer {
    width: 80%;
}

.ownMessageContainer {
    width: 80%;
    float: right;
}

.ion-content {
  --padding-bottom: 70px;
}

.time {
  float: right;
}

.messageBox {
  border-top: 1px solid black;
  width: 100%;
  position: fixed;
  bottom: 50px;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
}

.messageImage {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}

.imageModalContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .messageImage {
    max-height: 100%;
  }
}
